@model DTO.Models.CoachDTO
@{
    ViewBag.Title = Model.FirstName;
}
<h2>Coach @Model.FirstName @Model.LastName</h2>
<div>
    <dl class="dl-horizontal">
        
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>Work Experience</dt>
        <dd>@Model.WorkExperience</dd>
    </dl>
</div>
