@model DTO.Models.SwimmerDTO
@{
    ViewBag.Title = "Add Swimmer";
}

<form asp-action="create" asp-controller="Swimmer">
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">Name</label>
        <input type="text" asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-info" />
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label">Last Name</label>
        <input type="text" asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-info" />
    </div>

    <div class="form-group">
        <label asp-for="Age" class="control-label">Age</label>
        <input type="number" asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-info" />
    </div>

    <div class="form-group">
        <label asp-for="CoachId" class="control-label">Coach Id</label>
        <input type="number" asp-for="CoachId" class="form-control" />
        <span asp-validation-for="CoachId" class="text-info" />
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-info" />
    </div>

</form>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}