@model DTO.Models.SwimmerDTO
@{
    ViewBag.Title = "Delete Swimmer";
}

<div class="modal-content">
    <div class="modal-header">
        <h4>Are you sure?</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>First Name</dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>Last Name</dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>Age</dt>
            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

        </dl>

        <form asp-controller="Swimmer" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Delete" />
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>