@model DTO.Models.SwimStyleDTO
@{
    ViewBag.Title = "Update Swimming Style";
}

<form asp-action="Update" asp-controller="SwimStyle">

    <div class="form-group">
        <label asp-for="Id" class=" control-label">Id</label>
        <input type="number" asp-for="Id" class="form-control">
        <span asp-validation-for="Id" class="text-info" />
    </div>

    <div class="form-group">
        <label asp-for="StyleName" class="control-label">Style name</label>
        <input type="text" asp-for="StyleName" class="form-control" />
        <span asp-validation-for="StyleName" class="text-info" />
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-info" />
    </div>

</form>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}