@model DTO.Models.TrainingDTO
@{
    ViewBag.Title = "Update Training";
}

<form asp-action="Update" asp-controller="SwimmerTraining">

    <div class="form-group">
        <label asp-for="Id" class=" control-label">Id</label>
        <input type="number" asp-for="Id" class="form-control">
        <span asp-validation-for="Id" class="text-info" />
    </div>

    <div class="form-group">
        <label asp-for="SwimmerId" class="control-label">Swimmer Id</label>
        <input type="number" asp-for="SwimmerId" class="form-control" />
        <span asp-validation-for="SwimmerId" class="text-info" />
    </div>

    <div class="form-group">
        <label asp-for="SwimStyleId" class="control-label">SwimStyle Id</label>
        <input type="number" asp-for="SwimStyleId" class="form-control" />
        <span asp-validation-for="SwimStyleId" class="text-info" />
    </div>

    <div class="form-group">
        <label asp-for="TrainingDate" class="control-label">Training Date</label>
        <input type="datetime" asp-for="TrainingDate" class="hasDatepicker" />
        <span asp-validation-for="TrainingDate" class="text-info" />
    </div>

    <div class="form-group">
        <label asp-for="Distance" class="control-label">Distance</label>
        <input type="number" asp-for="Distance" class="form-control" />
        <span asp-validation-for="Distance" class="text-info" />
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-info" />
    </div>

</form>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}